* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Mono', monospace;
    background-image:
    radial-gradient(
      circle at top right,
      red,
      black 12.5%
    );
    color: #ffffff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
    padding: 20px;
}

.left, .middle, .right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left {
    padding-right: 50px;
}

.middle {
    text-align: center;
}

.right {
    padding-left: 50px;
    flex-direction: column;
    text-align: left;
}

.side-image {
    width: 100%; 
    height: 100%; 
    border-radius: 5px;
}

.hi {
    font-family: 'Big Shoulders Display', sans-serif;
    font-size: 38rem;
    color: #f44336; 
    text-transform: uppercase;
}

.right h2 {
    font-size: 1.2rem;
    letter-spacing: 0.15rem;
    color: #ffffff;
    margin-bottom: 20px;
}

.right p {
    font-size: 0.9rem;
    line-height: 1.5;
    color: #b0b0b0; 
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 0.03rem;
}

.btn {
    padding: 10px 20px;
    border: 1px solid #f44336;
    color: #f44336;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    text-decoration: none;
    font-size: 0.9rem;
    transition: background-color 0.3s, color 0.3s;
}

.btn:hover {
    background-color: #f44336;
    color: #0c0c0c;
}